.translation-block {
  background-color: white;
  width: 95%;
  padding: 5px 5px;
  margin: 5px 0;
  border-radius: 2px;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.12);

  span {
    color: grey;
  }

  .block-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .block-body {
    margin-top: 10px;

    .block-content {
      display: flex;
      flex-direction: row;
      padding: 5px 5px;
      span {
        color: black;
      }

      input {
        margin-left: 5px;
      }
    }
  }
}
