.main-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  background-color: bisque;
  border: 1px solid #f7f7f7;
  padding: 5px 5px;
}
